# Copyright (C) 2021 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT
---
Checks: '*,-fuchsia-*,-google-*,-zircon-*,-llvm-*,-llvmlibc-*,-modernize-use-trailing-return-type,-altera-struct-pack-align,-cppcoreguidelines-avoid-magic-numbers'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: '1'
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: '1'
