# Ignore everything
**

# Allowed files and directory
!cmake/**
!external/*.tar.xz
!src/**
!test/CMakeLists.txt
!test/catch_main.cpp
!test/data/unit_tests/**
!test/units/**
!CMakeLists.txt
!conanfile.py
!LICENSE
