# Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT

# Ignore everything
**

# Allowed files and directory
!cmake/**
!external/*.tar.xz
!src/**
!test/CMakeLists.txt
!test/test_main.cpp
!test/data/unit_tests/**
!test/units/**
!CMakeLists.txt
!conanfile.*
!LICENSE
