# Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT

.cache/
.idea/
.run/
.vscode/
Testing/
build/
containers/
docs/
external/
scratch/
venv/
Dockerfile*
Singularity*
cmake-build*
gmon.out
perf.*
scripts/fix_remote_devel.sh
test/Testing
test/data
test/settings
*.sif
*.ipynb*
