# Copyright (C) 2022 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT

# Ignored directories
.cache/
.idea/
.run/
.vscode/
build/
conan*/
containers/
docs/
examples/
external/
scratch/
test/Testing
test/data
test/settings
venv/

# Ignored files
Dockerfile*
cmake-build*
gmon.out
perf.*
