# Copyright (C) 2022 Roberto Rossini (roberros@uio.no)
# SPDX-License-Identifier: MIT

name: Unit tests Ubuntu

on:
  push:
    branches: [ main, devel, testing-ci ]
    paths:
      - ".github/workflows/unit-tests-ubuntu.yml"
      - "cmake/**"
      - "external/**"
      - "src/**"
      - "test/**"
      - "CMakeLists.txt"
      - "conanfile.py"
  pull_request:
    branches: [ main, devel, testing-ci ]
    paths:
      - ".github/workflows/unit-tests-ubuntu.yml"
      - "cmake/**"
      - "external/**"
      - "src/**"
      - "test/**"
      - "CMakeLists.txt"
      - "conanfile.py"

env:
  CONAN_USER_HOME: "${{ github.workspace }}/conan-cache"
  CONAN_USER_HOME_SHORT: "${{ github.workspace }}/conan-cache/short"
  CONAN_V2_MODE: "1"
  CCACHE_DIR: "${{ github.workspace }}/ccache-cache"
  CCACHE_COMPRESSLEVEL: "13"
  CCACHE_MAXSIZE: "500M"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os-version:
          - 20.04
        compiler:
          - gcc-7
          - gcc-11
          - clang-7
          - clang-13
        generator:
          - "Ninja"
        cmake:
          - 3.22.2
        build_type:
          - Release
          - Debug
        developer_mode:
          - ON

        include:
          # Make sure project builds when using make
          - os-version: 20.04
            compiler: clang-13
            generator: "Unix Makefiles"
            cmake: 3.22.2
            build_type: Debug
            developer_mode: OFF
          # Make sure project builds with cmake 3.16
          - os-version: 20.04
            compiler: clang-13
            generator: "Ninja"
            cmake: 3.16.8
            build_type: Debug
            developer_mode: OFF

    container:
      image: ghcr.io/robomics/ci-docker-images/modle/ubuntu-${{ matrix.os-version }}-cxx-${{ matrix.compiler }}:latest
      options: "-v ${{ github.workspace }}:${{ github.workspace }}"

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3

      - name: Extract CMake version
        id: cmake-version
        run: |
          cmake_version="$(cmake --version | head -n 1 | grep -oP '\d+\.\d+\.\d+')"
          echo "Detected CMake version: \"$cmake_version\""

          echo "::set-output name=version::$cmake_version"

      - name: Change CMake version
        if: ${{ !startsWith(steps.cmake-version.outputs.version, matrix.cmake) }}
        run: |
          apt-get update -q
          apt-get install -y python3-pip
          pip install "cmake==${{ matrix.cmake}}"

      - name: Generate cache key
        id: cache-key
        run: |
          host_os="host-${{ runner.os }}"
          image="${{ matrix.image }}"
          compiler="${{ matrix.compiler }}"
          generator="${{ matrix.generator }}"
          build_type="${{ matrix.build_type }}"
          hash="${{ hashFiles('conanfile.py', '.github/workflows/unit-tests-ubuntu.yml') }}"

          # This can be used by to always update a cache entry (useful e.g. for ccache)
          current_date="$(date '+%s')"

          echo "::set-output name=key::$host_os-$image-$compiler-$generator-$build_type-$hash"
          echo "::set-output name=restore-key::$host_os-$image-$compiler-$generator-$build_type"
          echo "::set-output name=date::$current_date"

      - name: Cache Ccache folder
        uses: actions/cache@v2
        with:
          key: ccache-${{ steps.cache-key.outputs.key }}-${{ steps.cache-key.outputs.date }}
          restore-key: ccache-${{ steps.cache-key.outputs.restore-key }}
          path: ${{ env.CCACHE_DIR }}

      - name: Cache Conan packages
        uses: actions/cache@v2
        with:
          key: conan-${{ steps.cache-key.outputs.key }}
          restore-key: conan-${{ steps.cache-key.outputs.restore-key }}
          path: ${{ env.CONAN_USER_HOME }}

      - name: Clean up Conan
        run: |
          conan remove -f "*" --builds
          conan remove -f "*" --src
          conan remove -f "*" --system-reqs

      - name: Configure project
        run: |
          mkdir ${{ github.workspace }}/build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}          \
                -DENABLE_DEVELOPER_MODE=${{ matrix.developer_mode }} \
                -DOPT_ENABLE_CLANG_TIDY=OFF                          \
                -DOPT_ENABLE_CPPCHECK=OFF                            \
                -G "${{ matrix.generator }}"                         \
                -B "${{ github.workspace }}/build"                   \
                "${{ github.workspace }}"

      - name: Build project
        run: cmake --build ${{ github.workspace }}/build -j $(nproc)

      - name: Print Ccache statistics
        run: ccache -s

      - name: Test project
        run: |
          ctest --test-dir ${{ github.workspace }}/build \
                --schedule-random                        \
                --output-on-failure                      \
                --no-tests=error                         \
                --timeout 120                            \
                --repeat after-timeout:3                 \
                -j $(nproc)

      # - name: Generate test coverage report
      #   if: >
      #     matrix.build_type == 'Debug'
      #   working-directory: ${{ github.workspace }}/build
      #   run: |
      #     gcovr --delete                       \
      #           --root ${{ github.workspace }} \
      #           --exclude test                 \
      #           --print-summary                \
      #           --xml-pretty                   \
      #           --xml                          \
      #           -o coverage.xml .
